<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <div id="app" class="container">
      <form @submit.prevent>
        <h2>Búsqueda de farmacia de turno</h2>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="commune">Comuna</label>
              <input v-model="commune" type="text" class="form-control" id="commune" placeholder="Ingrese comuna">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="localName">Farmacia</label>
              <input v-model="localName" type="text" class="form-control" id="localName" placeholder="Nombre de la farmacia">
            </div>
          </div>
        </div>
        <button v-on:click="searchPharmacy" class="btn btn-primary">Buscar</button>
      </form>
      <div class="row">
        <div class="col-md-6 mb-4" v-for="(pharmacy, index) in pharmacies">
          <div class="card">
            <div class="card-body">
              <h5 class="font-up deep-purple-text mb-3">Nombre del local: {{pharmacy.localName}}</h5>
              <h5 class="font-up deep-purple-text mb-3">Dirección: {{pharmacy.address}}</h5>
              <h5 class="font-up deep-purple-text mb-3">Télefono: {{pharmacy.phone}}</h5>
              <iframe 
               :id= "index"
                v-bind:src = "pharmacy.src"
                width="100%" 
                height="100%" 
                frameborder="0" 
                style="border:0">
              </iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script>
    new Vue({
      el: '#app',
      data: {
        commune: '',
        localName: '',
        pharmacies: []
      },
      methods: {
        searchPharmacy () {
          this.pharmacies = [];
          axios.get("http://localhost:3000/pharmacy/on-duty", {
            params: {
              commune: this.commune,
              localName: this.localName
            }
          }).then(response => {
            response.data.forEach(pharmacy => {
              this.pharmacies.push({
                src: 'https://www.google.com/maps/embed/v1/place?key=AIzaSyBNhFYhl3qo-TuyBsRekHJa0mjB7Kg1maQ' 
                  + '&q=' + pharmacy.lat.replace(',', '.') + ',' + pharmacy.lng.replace(',', '.'),
                localName: pharmacy.localName,
                address: pharmacy.address,
                phone: pharmacy.phone
              });
            });
          }).catch(err => {
            if(err.response.status === 404) {
              swal("Información", "No existen coincidencias", "info");
            }
            if(err.response.status === 500) {
              swal("Error", "En estos momentos hay problemas en nuestros servicios", "error");
            }
            this.showGoogleMaps = false;
          });
        }
      }
    })
  </script>
</html>